footer {
  background-color: #E9ECEF;
  margin-bottom: 0px;
  margin-top: 20px; }

img {
  height: 150px;
  padding-bottom: 8px;
  width: 150px; }

/*
.btn {
  background: #FFB400;
  border-radius: 0px;
  width: 60%; }

*/  

.btn-link {
  background-color: #E9ECEF;
  width: 100%; }

/*#botonCliente {
  background-color: green;
  color: white; }

#botonCliente:hover {
  background-color: blue;
  color: white; }
*/

.card-hotel {
  flex: 1 280px;
  margin-top: 30px; }


.d-block {
  height: 400px; }

.jumbotron {
  margin-top: 50px;
  text-align: center; }

.footer-address-icon {
  padding-right: 10px; }

.img-fluid {
  height: 300px;
  width: 900px; }

.tab-content {
  padding-top: 10px; }
