$gray: #E9ECEF;
$yellow = #F0F309;
$red = #DA2C2C;
$green = #55EA13;

@mixin margenes($top){
	margin-top: $top;
}

footer {
	background-color: $gray;
	margin-bottom: 0px;
	@include margenes(20px);
}

img{
	height: 150px;
	padding-bottom: 8px; 
	width: 150px; 	
}

/*
.btn {
	background: #FFB400;
	border-radius: 0px;
	width: 60%;
}
*/

.btn-link {
	background-color: #E9ECEF; 
	width: 100%;
}

.d-block {
	height: 400px;
}

.jumbotron {
	@include margenes(50px);
	text-align: center;
}

.footer-address-icon {
	padding-right: 10px;
}

.img-fluid {
	height: 300px;
	width: 900px;
}

.tab-content {
	padding-top: 10px;
}